:local .loader-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  position: fixed;
}

@keyframes :local(test){
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


